<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="AFK Page • Dashactyl">
        <title>AFK | Dashactyl</title>
        <% if (settings.arcio_id) { %>
            <script async src="<%= settings.arcio_id %>"></script>
        <% } %>
    </head>
    <body>
        <p>Every minute you will earn <%= settings.afk.coins_per_minute %> coins</p><br>
        <p>Coins Earned: <span id="total-coins">0</span></p><br>
        <p>Time left until next refresh: <span id="timer">60</span> seconds</p>
        <!-- Developers can add their own custom AFK stuff here like ads -->
        <script>
            setInterval(() => {
                let time = Number(document.getElementById('timer').innerHTML);
                if (time === 0) time = 61;
                document.getElementById('timer').innerHTML = time - 1;
            }, 1_000);

            setInterval(async () => {
                const res = await fetch('/api/users/<%= data.panel_id %>').then(d => d.json());
                const coins = res.data.coins + Number('<%= settings.afk.coins_per_minute %>');
                await fetch('/api/users/<%= data.panel_id %>/coins', {
                    method: 'PUT',
                    body: JSON.stringify({ coins })
                });

                let current = Number(document.getElementById('total-coins').innerHTML);
                document.getElementById('total-coins').innerHTML = current + perMin;
            }, 60_000);
        </script>
    </body>
</html>
